.location {
  display: flex;
  /* margin-top: 100px; */
  color: #2b283a;
}

.location-img {
  object-fit: cover;
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.location-sideText {
  margin-left: 19px;
}

.location-sideText-country {
  font-family: "Inter";
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin-left: 4px;
}

.location-sideText-link {
  font-family: "Inter";
  font-size: 10.24px;
  line-height: 12px;
  color: #918e9b;
  margin-left: 12px;
}

.location-sideText-pin {
  display: inline;
}

.location-sideText-title {
  font-family: "Inter";
  font-size: 25px;
  line-height: 30px;
}

.location-sideText-dates {
  font-family: "Inter";
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
}

.location-sideText-description {
  width: 326px;
  font-family: "Inter";
  font-size: 10.24px;
  line-height: 15px;
}
